<template>
  <div id="detail">
    <div v-cloak>
      <van-cell-group>
        <van-field
          :value="id"
          label="监测点编号："
          disabled
        />
      </van-cell-group>
      <van-cell-group>
        <van-field
          :value="name"
          label="监测点名称："
          disabled
        />
      </van-cell-group>
      <van-cell-group>
        <van-field
          :value="point"
          label="经度纬度："
          disabled
        />
      </van-cell-group>
      <van-cell-group>
        <van-field
          :value="address"
          label="地址："
          disabled
        />
      </van-cell-group>
      <van-cell-group>
        <van-field
          :value="ESTABLISHDATE"
          label="建井日期："
          disabled
        />
      </van-cell-group>
      <van-cell-group>
        <van-field
          :value="WELLDEPTH"
          label="井深："
          disabled
        />
      </van-cell-group>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      id: this.$route.params.id,
      name: "无",
      point: "无",
      address: "无",
      ESTABLISHDATE: "无",
      WELLDEPTH: "无",
      data_info: [
        {
          MONITORPOINTID: "MONITORPOINTID",
          ADDRESS: "ADDRESS",
          CITY: "CITY",
          COUNTY: "COUNTY",
          ESTABLISHDATE: "",
          WELLDEPTH: ""
        }
      ]
    };
  },
  mounted() {
    this.getData();
    this.$store.commit("changeTab", 1);
  },
  methods: {
    getData: function() {
      //获取一个监测点详情
      this.$http.get(GetEntity + this.id).then(
        response => {
          // 响应成功回调
          if (!!response.data) {
            this.data_info = response.data;
            if (this.data_info) {
              this.id = this.data_info.MONITORPOINTID;
              this.name = this.data_info.ADDRESS;
              this.point =
                this.data_info.LONGITUDE + " , " + this.data_info.LATITUDE;
              this.address = this.data_info.CITY + this.data_info.COUNTY;
              this.WELLDEPTH = this.data_info.WELLDEPTH+"米";
              this.ESTABLISHDATE = this.data_info.ESTABLISHDATE;
            } else {
              this.id = "无";
              this.name = "无";
              this.point = "无";
              this.address = "无";
              this.ESTABLISHDATE = "无";
              this.WELLDEPTH = "无";
            }
          }
        },
        response => {
          // 响应错误回调
          this.$dialog.alert({
            message: "获取监测点详情失败，请检测网络"
          });
        }
      );
    }
  }
};
// ADDRESS: (...)
// CITY: "北京市市辖区"
// CONSTRUCTIONTYPE: null
// CONTACTPEOPLENAME: null
// COORDINATESYSTEM: null
// COUNTY: "平谷区"
// DEPTNAME: null
// DISTRICTCODE: "110117"
// ESTABLISHDATE: "2017-05-20T00:00:00" //建井日期
// HYDROLOGYMEDIUMTYPE: null
// HYDROLOGYUNIT1: "190000"
// HYDROLOGYUNIT2: "130000"
// JYTHICKNESS: null
// LATITUDE: "40.1990209444444"
// LONGITUDE: "117.082315305556"
// MAPSHEETCODE: null
// MONITORDEEP: null
// MONITORDES: null
// MONITOROBJECT: null
// MONITORPOINTID: "110117210024"
// MONITORPOINTNAME: "110117210024"
// MONITORPOINTOLDID: null
// MONITORPOINTTYPE: null
// MONITORPROTECTION: null
// MONITORTYPE: null
// PIPEDEPTH: null
// PROVINCE: "北京市"
// SSTHICKNESS: null
// WELLDEPTH: 202/
</script>