<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no,width=device-width,maximum-scale=1.0,minimum-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>images/logo.png">
    <title>国家地下水微信公众号</title>
    <link rel="stylesheet" href="css/api.css">
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=PqPhEobxndD98UULOiy3tzGDXu3rsbQa&services=&t=20181206101654"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but wechat doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="script/area.js"></script>
    <script src="script/jquery-2.0.3.min.js"></script>
    <script src="script/echarts.min.js"></script>
    <script src="script/infographic.js"></script>
    <script src="script/customed.js"></script>
    <script src="script/api.js"></script>
    <script src="common.js"></script>
  </body>
</html>
