<template>
  <div id="about">
    <div>
      <van-cell-group>
        <van-cell
          title="发布说明"
          icon="description"
          to="about/version"
          is-link
        />
      </van-cell-group>
      <van-cell-group>
        <van-cell
          title="二维码服务"
          icon="qr"
          is-link
          to="about/qrcode"
        />
      </van-cell-group>
      <van-cell-group>
        <van-cell
          title="官方微信公众号"
          icon="wechat"
          to="about/wechat"
          is-link
        />
      </van-cell-group>
      <!-- <van-cell-group>
        <van-cell
          title="意见反馈"
          icon="more"
          to="about/feeback"
          is-link
        />
      </van-cell-group> -->
      <van-cell-group>
        <van-cell
          title="关于我们"
          icon="warn"
          is-link
        />
      </van-cell-group>
    </div>
    <div id="aside">
      国家地下水监测工程
      <!-- <img
        src="images/logo1.png"
        height="25px;"
        style="margin-top:40px"
      > -->
      <!-- <p>地下水质量</p>
      <p>Version 1.0</p> -->
    </div>
  </div>
</template>
<script>
export default {
  mounted(){
    this.$store.commit('changeTab',3);
  }
};
</script>

<style>
#about #aside {
  text-align: center;
  font-size: 17px;
  margin-top:30px;
  color: deepskyblue;
}
</style>