<template>
  <div
    id="home"
    v-cloak
  >
    <van-popup
      v-model="show"
      position="bottom"
    >
      <van-area
        :area-list="areaList"
        :columns-num="1"
        :value="code"
        @confirm="complete"
        @cancel="close"
      />
    </van-popup>
    <div id="header">
      <van-cell-group>
        <van-cell
          id="location"
          :title="cityName"
          icon="location"
          @click="choose"
        ></van-cell>
      </van-cell-group>
    </div>
    <div id="main">
      <div id="left">
        <div>
          <van-circle
            :text="monitorCount"
            :stroke-width="60"
          />
        </div>
        <div>
          监测点总数
        </div>
      </div>
      <div id="right">
        <div class="num">设备数目：{{deviceCount}}</div>
        <div class="num">水质数目：{{qualityCount}}</div>
        <div class="num">昨日水位数目：{{levelCount}}</div>
      </div>
    </div>
    <div id="areaMap">
      <div
        id="mapx"
        style="width:100%;height:300px;"
      ></div>
      <div></div>
    </div>
    <div id="chart">
      <!-- <div id="pie"></div> -->
      <div id="bar"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "home",
  data() {
    return {
      show: false,
      cityName: "北京市",
      code: "110100",
      point: "39.92,116.46",
      monitorCount: "0",
      deviceCount: "0",
      levelCount: "0",
      qualityCount: "0",
      title: "水质级别",
      data: [],
      areaList: area
    };
  },
  beforeMount() {
    this.getData(this);
    this.address();
  },
  mounted() {
    this.$toast.loading({ mask: true, message: '加载中...' });
    var _this = this;
    window.onresize = function() {
      _this.map(_this.code, _this.cityName, _this);
      _this.bar(_this);
    };
    this.$store.commit("changeTab", 0);
  },
  methods: {
    address: function() {
      var _this = this;
      var geolocation = new BMap.Geolocation();
      geolocation.getCurrentPosition(function(r) {
        if (geolocation.getStatus() == BMAP_STATUS_SUCCESS) {
          _this.cityName = r.address.province;
          _this.point = r.latitude + "," + r.longitude;
          _this.$http
            .jsonp(
              "http://api.map.baidu.com/geocoder/v2/?callback=renderReverse&location=" +
                _this.point +
                "&output=json&ak=PqPhEobxndD98UULOiy3tzGDXu3rsbQa"
            )
            .then(
              response => {
                // 响应成功回调
                var cityN=response.body.result.addressComponent.city;
                if(cityN=="北京市"){
                  _this.code="110100";
                }else if(cityN=="天津市"){
                  _this.code="120100";
                }else if(cityN=="重庆市"){
                  _this.code="500100";
                }else if(cityN=="上海市"){
                  _this.code="310100";
                }else{
                  _this.code =
                    response.body.result.addressComponent.adcode.substring(0, 2) +
                    "0000";
                }
                _this.$options.methods.getData(_this);
              },
              response => {
                this.$dialog.alert({
                  message: "获取区划代码失败"
                });
                // 响应错误回调
              }
            );
        } else {
          this.$dialog.alert({
            message: "failed" + geolocation.getStatus()
          });
        }
      });
    },
    getData: function(_this) {
      //获取监测点各个数目
      _this.$http.get(GetCount + _this.code).then(
        response => {
          // 响应成功回调
          if (!!response.data) {
            _this.monitorCount = response.data.monitorCount + "";
            _this.deviceCount = response.data.deviceCount + "";
            _this.levelCount = response.data.levelCount + "";
            _this.qualityCount = response.data.qualityCount + "";
          }
        },
        response => {
          // 响应错误回调
          this.$dialog.alert({
            message: "获取监测点数目失败，请检测网络"
          });
        }
      );
      //获取扇形图 地图数据
      _this.$http.get(GetSampleCount + _this.code).then(
        response => {
          // 响应成功回调
          var data = JSON.parse(response.data);
          if (!!data) {
            _this.data = data.point.rows;
            _this.$options.methods.map(_this.code, _this.cityName, _this);
            _this.$options.methods.bar(_this);
          }
          _this.$toast.clear();
        },
        response => {
          // 响应错误回调
          if(this.$toast){
            this.$toast.clear();
          }
          this.$dialog.alert({
            message: "获取监测点数目失败，请检测网络"
          });
        }
      );
    },
    // pie: function(_this) {
    //   var myChart = echarts.init($("#pie")[0], "customed");
    //   var option = {
    //     backgroundColor: "#fff",
    //     title: {
    //       text: this.title,
    //       x: "center",
    //       textStyle: {
    //         color: "#666",
    //         fontSize: 15,
    //         fontFamily: "DFKai-SB"
    //       }
    //     },
    //     tooltip: {
    //       trigger: "item",
    //       formatter: "{b} : {c} ({d}%)"
    //     },
    //     legend: {
    //       orient: "vertical",
    //       left: "left",
    //       data: ["Ⅰ类", "Ⅱ类", "Ⅲ类", "Ⅳ类", "Ⅴ类"]
    //     },
    //     series: [
    //       {
    //         name: "水质级别",
    //         type: "pie",
    //         radius: "60%",
    //         center: ["50%", "55%"],
    //         data: [
    //           { value: _this.data[0], name: "Ⅰ类" },
    //           { value: _this.data[1], name: "Ⅱ类" },
    //           { value: _this.data[2], name: "Ⅲ类" },
    //           { value: _this.data[3], name: "Ⅳ类" },
    //           { value: _this.data[4], name: "Ⅴ类" }
    //         ],
    //         itemStyle: {
    //           emphasis: {
    //             shadowBlur: 10,
    //             shadowOffsetX: 0,
    //             shadowColor: "rgba(0, 0, 0, 0.5)"
    //           }
    //         }
    //       }
    //     ]
    //   };
    //   myChart.setOption(option);
    //   myChart.resize();
    // },
    bar: function(_this) {
      var myChart1 = echarts.init(document.getElementById("bar"), "customed");
      var option1 = {
        backgroundColor: "#fff",
        tooltip: {
          trigger: "item",
          formatter: "{b} : {c}"
        },
        grid: {
          top: 50,
        },
        xAxis: {
          type: "category",
          axisLabel: {
            interval: 0,
            rotate: 30
          },
          data: _this.data.map(function(currentValue, index, arr) {
            return currentValue.name;
          })
        },
        dataZoom: [
          {
            show: true
          }
        ],
        yAxis: {
          name:"监测点数目",
          type: "value"
        },
        series: [
          {
            data: _this.data.map(function(currentValue, index, arr) {
              return currentValue.value;
            }),
            type: "bar"
          }
        ]
      };
      myChart1.setOption(option1);
      myChart1.resize();
    },
    choose: function() {
      this.show = true;
    },
    complete: function(area) {
      if (area[0].code != -1) {
        var optionCode = area[0].code;
        var optionName = area[0].name;
        this.show = false;
        this.code = optionCode;
        this.cityName = optionName;
        this.getData(this);
      } else {
        this.show = false;
      }
    },
    close: function() {
      this.show = false;
    },
    map(code, name, _this) {
      var myChart2 = echarts.init(document.getElementById("mapx"), "customed");
      $.get("./script/json/geometry/" + code + ".json", function(geoJson) {
        var max = 0;
        for (var i in _this.data) {
          max += _this.data[i].value;
        }
        echarts.registerMap(code, geoJson);
        var option2 = {
          backgroundColor: "#fff",
          tooltip: {
            trigger: "item",
            formatter: "{b}<br/>监测点数:{c}",
            confine: true
          },
          visualMap: {
            min: 0,
            max: max,
            text: ["High", "Low"],
            realtime: false,
            calculable: true,
            show: false,
            inRange: {
              color: ["#fff", "#002aff"]
            },
            outOfRange: {
              color: ["red"]
            }
          },
          series: [
            {
              name: name,
              type: "map",
              mapType: code, // 自定义扩展图表类型
              itemStyle: {
                normal: {
                  areaColor: "skyblue",
                  label: { show: false },
                  shadowColor: "#ccc",
                  shadowOffsetX: 5,
                  shadowOffsetY: 2,
                  shadowBlur: 15
                },
                emphasis: {
                  label: {
                    show: false,
                    color: "#fff",
                    fontSize: 13,
                    fontWeight: "bold"
                  }
                }
              },
              data: _this.data
            }
          ]
        };
        myChart2.setOption(option2);
        myChart2.resize();
      });
    }
  }
};
</script>

<style>
#home {
  color: #fff;
  width: 100%;
  padding-bottom: 20px;
}
#home #location {
  width: 100%;
  background-color: rgb(105, 188, 255);
  color: #fff;
}
#home #main {
  height: 160px;
  margin-top: 45px;
  padding-top: 30px;
  background-color: rgb(105, 188, 255);
}
#home #right,
#home #left {
  float: left;
  width: 50%;
  text-align: center;
}
#home .num {
  margin: 10px;
}
#home #bar {
  margin-top: 5px;
  height: 250px;
  padding-bottom: 10px;
  overflow-x: auto;
}
#home .van-circle__text {
  color: #fff !important;
  font-size: 30px;
}
#home #header {
  z-index: 500;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
}
#home #chart {
  margin-bottom: 15px;
}
#home #areaMap {
  width: 100%;
}
#home .van-cell__title .van-icon {
  font-size: 22px;
  /* font-weight: bold; */
}
#home .van-cell__text {
  font-size: 17px;
}

#home .van-cell__title:hover {
  font-weight: bold;
}
[v-cloak] {
  display: none;
}
</style>
