<template>
  <div id="information">
    <van-list
      v-model="loading"
      :finished="finished"
      @load="onLoad"
    >
      <van-cell-group>
        <van-cell
          :data-val='item.DOWNURL'
          is-link
          v-for="(item,index) in list"
          :key="index"
          :title="item.NAME"
          @click="cont(item.DOWNURL)"
        />
      </van-cell-group>
    </van-list>
  </div>
</template>

<script>
export default {
  data() {
    return {
      list: [],
      //all: [],
      all: [],
      count: "0",
      loading: false,
      finished: false
    };
  },
  created() {
    this.getData();
  },
  mounted(){
    this.$toast.loading({ mask: true, message: '加载中...' });
    this.$store.commit('changeTab',2);
  },
  methods: {
    getData: function() {
      this.$http.get(GetResult).then(
        response => {
          this.$toast.clear();
          if (!!response.data) {
            var data=JSON.parse(response.data);
            if(data.rows.length){
              this.all = data.rows;
            }
          }
        },
        response => {
          this.$toast.clear();
          this.$dialog.alert({
            message: "获取成果失败，请检查网络"
          });
        }
      );
    },
    onLoad() {
      var _this=this;
      setTimeout(() => {
        for (let i = 0; i < 15; i++) {
          if (_this.all[_this.list.length]) {
            var d = _this.all[_this.list.length];
            _this.list.push(d);
          }
        }
        _this.loading = false;
        if (_this.list.length >= _this.all.length) {
          _this.finished = true;
        }
      }, 500);
    },
    cont: function(val) {
      console.log(val)
      this.$router.push({ name: "content", params: { id: val } });
      //window.location.href = "information/content.html?id=" + val;
    }
  }
};
// CATALOG: "统计分析"
// CONTENT: null
// CONTENTTYPE: null
// DESCRIPT: null
// DOWNURL: "http://localhost:4064/Resource/DocumentFile/System/20180402/53421852-bcf2-4aa0-9e82-8551946d6429.rar"
// KEYWORD: null
// NAME: null
// PUBLISHDATE: null
// PUBLISHUNIT: null
// SCERETRANK: null
// STATUS: "1"
</script>

<style>
#information .van-cell {
  padding: 10px 35px 10px 15px;
}
</style>