<template>
  <div id="map"></div>
</template>
<script>
export default {
  data() {
    return {
      lng: 116.46,
      lat: 39.92,
      code: "100000",
      data_info: [
        {
          MONITORPOINTID: "MONITORPOINTID",
          ADDRESS: "ADDRESS",
          CITY: "CITY",
          COUNTY: "COUNTY"
        }
      ],
      opts: {
        width: 250, // 信息窗口宽度
        height: 120, // 信息窗口高度
        title:
          "<div style='margin-bottom:18px'>信息窗口<a id='cont' href='#' onclick='details(this)' style='float:right;margin-right:25px;font-size:14px;'>详情</a></div>", // 信息窗口标题
        enableMessage: false //设置允许信息窗发送短息
      }
    };
  },
  mounted() {
    this.location();
    this.$store.commit('changeTab',1);
  },
  methods: {
    location: function() {
      var _this = this;
      var map = new BMap.Map("map"); // 创建Map实例
      var point = new BMap.Point(_this.lng, _this.lat);
      map.centerAndZoom(point, 15);
      var geolocation = new BMap.Geolocation();
      geolocation.getCurrentPosition(
        function(r) {
          if (geolocation.getStatus() == BMAP_STATUS_SUCCESS) {
            _this.lng = r.point.lng;
            _this.lat = r.point.lat;
            _this.point = r.latitude + "," + r.longitude;
            map.panTo(r.point);
            _this.$http
              .jsonp(
                "http://api.map.baidu.com/geocoder/v2/?callback=renderReverse&location=" +
                  _this.lat +
                  "," +
                  _this.lng +
                  "&output=json&ak=PqPhEobxndD98UULOiy3tzGDXu3rsbQa"
              )
              .then(
                response => {
                  // 响应成功回调
                  _this.code =
                    response.body.result.addressComponent.adcode.substring(
                      0,
                      4
                    ) + "00";
                  _this.$options.methods.getwater(_this, map);
                },
                response => {
                  this.$dialog.alert({
                    message: "获取区划代码失败，请检测网络"
                  });
                  // 响应错误回调
                }
              );
          } else {
            this.$dialog.alert({
              message: "failed" + geolocation.getStatus()
            });
          }
        },
        { enableHighAccuracy: true }
      );
      map.enableScrollWheelZoom(true); //开启鼠标滚轮缩放
      map.addControl(
        new BMap.NavigationControl({
          type: BMAP_NAVIGATION_CONTROL_ZOOM,
          anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
          offset: new BMap.Size(20, 110)
        })
      );
      map.addControl(
        new BMap.ScaleControl({
          anchor: BMAP_ANCHOR_BOTTOM_LEFT,
          offset: new BMap.Size(10, 60)
        })
      );
      map.addControl(
        new BMap.GeolocationControl({
          anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
          offset: new BMap.Size(20, 60)
        })
      );
    },
    getwater: function(_this, map) {
      //获取所有监测点
      _this.$http.get(GetMonitorList + _this.code).then(
        response => {
          // 响应成功回调
          if (!!response.data) {
            _this.data_info = response.data;
            _this.$options.methods.point(_this, map);
          }
        },
        response => {
          // 响应错误回调
          this.$dialog.alert({
            message: "获取监测点失败，请检测网络"
          });
        }
      );
    },
    point: function(_this, map) {
      if (_this.data_info.length) {
        for (var i = 0; i < _this.data_info.length; i++) {
          var myIcon = new BMap.Icon("images/marker.png",new BMap.Size(25, 27));
          var marker = new BMap.Marker(
            new BMap.Point(
              _this.data_info[i].LONGITUDE,
              _this.data_info[i].LATITUDE
            ),
            { icon: myIcon }
          ); // 创建标注
          var content =
            "编号：" +
            _this.data_info[i].MONITORPOINTID +
            "<br/>名称：" +
            _this.data_info[i].ADDRESS +
            "<br/>地址：" +
            _this.data_info[i].CITY +
            _this.data_info[i].COUNTY;
          _this.opts.title =
            "<div style='margin-bottom:10px;font-size:13px'>监测点信息<a id='cont' href='javascript:void(0)' k='" +
            _this.data_info[i].MONITORPOINTID +
            "' style='float:right;margin-right:20px;font-size:14px;'>详情</a></div>";
          map.addOverlay(marker); // 将标注添加到地图中
          addClickHandler(content, marker, _this);
        }
      }
      function addClickHandler(content, marker, _this) {
        marker.addEventListener("click", function(e) {
          openInfo(content, e);
          setTimeout(function() {
            $("#cont").on("click", function(e) {
              var id = $("#cont").attr("k");
              _this.$router.push({ name: "detail", params: { id: id } });
            });
          }, 100);
        });
      }
      function openInfo(content, e) {
        var p = e.target;
        var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
        var infoWindow = new BMap.InfoWindow(content, _this.opts); // 创建信息窗口对象
        map.openInfoWindow(infoWindow, point); //开启信息窗口
      }
    }
  }
};
</script>
<style>
#map {
  height: 100%;
}
#map .BMap_bubble_content{
  font-size: 13px;
}
</style>

