<template>
  <div class="window">
            编号:{{msg.MONITORPOINTID}}<br/>
            编号:{{msg.ADDRESS}}<br/>
            地址：:{{msg.CITY}}{{msg.COUNTY}}<br/>
  </div>
</template>

<script>
export default {
  name: 'Window',
  props: {
    msg: String
  },
  data(){
    return{
      contentData:this.content,
      optsData:this.opts,
            opts: {
        width: 250, // 信息窗口宽度
        height: 120, // 信息窗口高度
        title:
          "<div style='margin-bottom:18px'>信息窗口<a id='cont' href='#' onclick='details(this)' style='float:right;margin-right:25px;font-size:14px;'>详情</a></div>", // 信息窗口标题
        enableMessage: true //设置允许信息窗发送短息
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
