<template>
  <div id="feeback">
    <van-cell-group>
      <van-field
        v-model="title"
        required
        label="标题"
        placeholder="请输入标题"
      />

      <van-field
        v-model="email"
        type="email"
        label="邮箱"
        placeholder="请输入邮箱"
      />
      <van-field
        v-model="name"
        type="text"
        label="姓名"
        placeholder="请输入姓名"
        required
      />
      <van-field
        v-model="message"
        label="留言"
        type="textarea"
        placeholder="请输入留言"
        rows="3"
        required
        autosize
      />
      <div style="text-align:center;">
        <van-button
          size="large"
          type="primary"
          @click="submit"
        >提&emsp;交</van-button>
      </div>
    </van-cell-group>
  </div>
</template>
<script>
export default {
  data() {
    return {
      title: "",
      email: "",
      name: "",
      message: ""
    };
  },
  methods: {
    submit() {
      if (!this.title) {
        this.$toast("标题不能为空！");
        return false;
      }
      if (!!this.email) {
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        if (!myreg.test(this.email)) { 
          this.$toast("请输入有效的邮箱！");
          return false;
        }
      }
      if (!this.name) {
        this.$toast("姓名不能为空！");
        return false;
      }
      if (!this.message) {
        this.$toast("留言不能为空！");
        return false;
      }
      this.$http.post(PostFeeback, { TITLE: this.title,EMAIL: this.email,USERNAME: this.name,CONTENT: this.message}).then(
        function(res) {
            this.$toast.success("提交成功");
        },
        function() {
            this.$toast.fail("提交失败");
        }
      );
    }
  }
};
</script>
<style>
#feeback .van-button--large {
  height: 44px;
  line-height: 38px;
  margin: 20px 10px;
  width: 90%;
}
</style>

