<template>
  <div id="qrcode">
    <div v-cloak>
      <van-panel title="二维码生成">
        <div>
          <van-field
            v-model="value"
            type='number'
            placeholder="请输入站点编号"
          >
            <van-button
              size="small"
              slot="button"
              type="primary"
              @click="getData"
            >生成二维码</van-button>
          </van-field>
        </div>
      </van-panel>
      <div style="text-align: center;margin-top:80px;">
        <img :src="imgurl">
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      value: "",
      imgurl: ""
    };
  },
  mounted: function() {
    this.$store.commit('changeTab',3);
  },
  methods: {
    getData: function() {
      if (!!this.value) {
                      var url =
                "http://pu.jcgc.cigem.cn/#/map/detail/" + this.value;
              this.imgurl =
                "http://pu.jcgc.cigem.cn:8080/api/QRCodeapi/GenerateQrCode?qrText=" +
                url +
                "&a=" +
                Math.random();
        // this.$http.get(GetEntity + this.value).then(
        //   response => {
        //     // 响应成功回调
        //     if (!!response.data) {
        //       var url =
        //         "http://pu.jcgc.cigem.cn/wechat/map/details/" + this.value;
        //       this.imgurl =
        //         "http://pu.jcgc.cigem.cn:8080/api/QRCodeapi/GenerateQrCode?qrText=" +
        //         url +
        //         "&a=" +
        //         Math.random();
        //     } else {
        //       this.$dialog.alert({
        //         message: "没有找到此监测点，请重新输入！"
        //       });
        //     }
        //   },
        //   response => {
        //     // 响应错误回调
        //     this.$dialog.alert({
        //       message: "获取监测点二维码失败，请重新输入！"
        //     });
        //   }
        // );
      } else {
        this.$dialog.alert({
          message: "请输入监测点！"
        });
      }
    }
  }
};
</script>

<style>
#qrcode #aside {
  margin-bottom: 55px;
      font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    color: deepskyblue;
}

#qrcode .van-panel__title {
  font-size: 17px;
  font-weight: bold;
}
</style>