<template>
    <div id="version">
            <div v-cloak>
      <van-cell-group>
        <van-field
          :value="name"
          label="名称："
          disabled
        />
      </van-cell-group>
      <van-cell-group>
        <van-field
          :value="version"
          label="版本："
          disabled
        />
      </van-cell-group>
    </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            name:"地下水质量",
            version:"Version 1.0"
        }
    }
}
</script>

