<template>
    <div id="wechat" style="text-align:center;">
              <img
        src="images/wechat.jpg"
        style="margin-top:50px"
      >
    </div>
</template>
<script>
export default {
    
}
</script>
 
