<template>
  <div id="content">
    <div
      id="main"
      v-cloak
    >
      <div id="aside">
        <div style="height:40px;line-height:40px;padding-left:10px;background:#fff;font-size:14px;width:100%;">{{title}}</div>
        <img v-for="(img,index) in imageList" :src="img" :key=index>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  //document.getElementsByClassName("van-panel")[0].style.minHeight = document.documentElement.clientHeight - 55 + 'px';
  data() {
    return {
      // id: this.$route.params.id,
      title: "成果内容",
      imageList: [
        this.$route.params.id,
      ]
    };
  },
  mounted: function() {
    //this.getData();
    this.$store.commit('changeTab',2);
  },
  methods: {
  //   getData: function() {
  //     this.$http.get(GetResultList + this.id).then(
  //       response => {
  //         if (!!response.data) {
  //           this.title = response.data.TITLE;
  //           this.content = response.data.CONTENT;
  //           this.creator = response.data.CREATOR;
  //           this.data = response.data.CREATEDATE;
  //         }
  //       },
  //       response => {
  //         this.$dialog.alert({
  //           message: "获取结果内容失败，请检查网络"
  //         });
  //       }
  //     );
  //   }
  }
};
</script>

<style>
#content #aside {
  margin-bottom: 55px;
}

#content .van-panel__title {
  font-size: 17px;
  font-weight: bold;
}
#content img {
    padding: 15px;
    width: 100%;
    height: 250px;
    margin: 10px 0 0;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-size: 315px 250px;
    background-position: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }
</style>


