<template>
  <div id="app">
    <router-view />
    <div id="nav">
      <van-tabbar v-model="active">
        <van-tabbar-item
          icon="home"
          to="/"
        >首页</van-tabbar-item>
        <van-tabbar-item
          icon="location"
          to="/map"
        >地图</van-tabbar-item>
        <van-tabbar-item
          icon="records"
          to="/information"
        >资讯</van-tabbar-item>
        <van-tabbar-item
          icon="info-o"
          to="/about"
        >关于</van-tabbar-item>
      </van-tabbar>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      //active: this.$store.state.tab
    };
  },
  computed:{
    active:{
      get:function(){
        return this.$store.state.tab
      },
      set:function(){
      }
    }
  }
};
</script>

<style>
html,
body,
#app {
  height: 100%;
}
body {
  background-color: #f8f8f8;
}
</style>
